* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: system-ui,-apple-system,BlinkMacSystemFont;
    /* position: relative; */
    outline: none;
}

body {
    background: rgb(36, 43, 43);
}

header, .draggable{
    /* header要素とdraggableクラスのみドラッグ可能領域とする */
    -webkit-app-region: drag;
    cursor: move; /* ドラッグ可能領域を可視化 */
}

header button, .draggable button {
    /* その中にあるボタン要素はドラッグを不可とする */
    -webkit-app-region: no-drag !important;
    cursor: auto; /* 通常のカーソルに戻す */
}

.overlay--show {
    /* display: block; */
    /* visibility: visible; */
    /* animation-name: fadeInAnime;
    animation-duration: .2s;
    animation-fill-mode: forwards; */
    opacity: 1;
}
.overlay--hidden {
    /* display: none; */
    /* visibility: hidden; */
    /* animation-name: fadeOutAnime;
    animation-duration: .2s;
    animation-fill-mode: forwards; */
    opacity: 0;
}

@keyframes fadeInAnime{
    0% {
        display: block;
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }
  
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnime{
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
  
    100% {
        opacity: 0;
        display: none;
    }
}